table, th, td {
  border: 4px solid black;
  border-collapse: collapse;
  border-radius: 10px;
}
/* th, td {
  background-color: #ffb6fb;
  border-style: dotted;
  border-color: blueviolet;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
} */
th{
    text-align: left;
}
table {
    border-spacing: 30px;
}
/* tr:nth-child(even) {
    background-color: burlywood;
} */
/* td:nth-child(even), th:nth-child(even) {
  background-color: #a2ffff;
} */
tr:nth-child(even) {
  background-color: rgba(255, 172, 255, 0.596);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(255, 110, 255, 0.4);
}
tr:hover {background-color: #74006a;}
tr {
  border-bottom: 1px solid #ddd;
}
