* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #f0f2f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 130px;
    gap: 80px;
    padding-bottom: 200px;
}

.left h1 {
    color: #1877f2;
    font-size: 56px;
    margin: 0;
}

.left pre {
    font-size: 22px;
    width: 420px;
}

.card {
    background: white;
    padding: 20px;
    width: 360px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
}

.card input {
    font-size: 16px;
    padding: 14px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.login {
    background: #1877f2;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.forgot {
    text-align: center;
    margin: 14px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}


hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 16px 0;
}

.create {
    background: #42b72a;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    max-width: 200px;
    margin: 0 auto;
}
.main a:hover{
    text-decoration: underline;
}

.footer {
    background: #ffffff;
    flex: 1;
    padding: 20px;
    font-size: 12px;
    color: #737373;
    min-height: 30vh;
}

.footer a {
    color: #737373;
    text-decoration: none;
    margin-right: 10px;
    line-height: 1.8;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-languages {
    max-width: 1000px;
    margin: auto;
}

.footer-links {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: auto 10px;
}

.footer hr {
    width: 1000px;
    border: none;
    border-top: 1px solid #ddd;
    margin: auto;
}

.more {
    background: #e4e6eb;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 8px;
    cursor: pointer;
}

.footer-copy {
    max-width: 1000px;
    margin: 10px auto 0;
}
.footer-wrapper {
    margin-top: 0px;
}

.page {
    font-size: 90%;
    margin-top: 30px;
    text-align: center;
}
.pagecr {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media (max-width: 900px) {

    .main {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    .left {
        text-align: center;
    }

    .left img {
        width: 200px;
    }

    .left p {
        width: auto;
        font-size: 18px;
        padding: 0 20px;
    }

    .card {
        width: 100%;
        max-width: 360px;
    }

    .page {
        font-size: 14px;
        padding: 0 20px;
    }

    /* футер */
    .footer {
        padding: 20px 15px;
    }

    .footer-languages,
    .footer-links,
    .footer-copy {
        max-width: 100%;
    }

    .footer-links {
        line-height: 1.6;
    }
}
